body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    font-family: 'Geologica', sans-serif;
    color: rgb(239, 231, 240);
    height: 100vh;
    overflow-x: hidden;
}

p {
    font-size: 15px;
    margin: 0;
}

.loginTitle {
    text-align: center;
}

.loginSpace {
    padding: 10px;
    display: flex;
    gap: 10px;
    margin: 10px;
    background-color: rgb(21, 16, 21);
    border-radius: 10px;
    align-items: center;
    height: 50px;
}

#key {
    color: white;
    background-color: black;
    border: none !important;
    border-radius: 5px;
    padding: 5px;
}

#key:focus {
    outline: none;
    background-color: rgb(32, 32, 32);
}

#reload img {
    width: 100%;
    height: 100%;
}

#reload {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    transition: all linear 0.2s;
}

#reload:hover {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 24px;
    height: 24px;
}

.outputHolder {
    padding: 10px;
    margin: 10px;
    background-color: rgb(21, 16, 21);
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#output {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 289px);
}

.inputHolder {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: rgb(21, 16, 21);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#input {
    width: 90vi;

}

.input {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#input:focus {
    outline: none;
    background-color: rgb(32, 32, 32);
}

.submit {
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border: none;
}

.submit:hover {
    background-color: rgb(127, 91, 129);
}

.switchBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    bottom: 100px;
    right: 50px;
    z-index: 1;
}

.switch {
    display: block;
    width: 60px;
    height: 34px;
    text-align: center;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 34px;
    background-color: #333;
    border-radius: 34px;
    transform: translateX(-50%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switchLabel {
    transform: translate(-7%, -150%);
    font-size: 16px !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #272626;
}

::-webkit-scrollbar-thumb {
    background: #a38ba3;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes spin {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

.spinning {
    animation: spin 0.5s;
    animation-iteration-count: 1;
}

@keyframes shakeit {
    0% {
        transform: rotate(0turn);
    }

    20% {
        transform: rotate(-0.1turn);
    }

    40% {
        transform: rotate(0.1turn);
    }

    60% {
        transform: rotate(-0.1turn);
    }

    80% {
        transform: rotate(0.1turn);
    }

    100% {
        transform: rotate(0turn);
    }
}

.shaking {
    animation: shakeit .8s;
    animation-iteration-count: 1
}

#invkeymsg {
    color: red;
    transition: all linear 0.1s;
    opacity: 0;
    user-select: none;
}

.invalidScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 2;
    opacity: 0;
    transition: all ease .5s;
}

.invalidScreenBig {
    font-size: 30px;
}

.invalidScreenSmall {
    font-size: 15px;
}

.menuButton {
    height: 80%;
    margin-left: auto;
    margin-right: 10px;
    transition: all ease .3s;
}

.menuImage {
    height: 40px;
    z-index: 1;
    position: absolute;
    transform: translateX(-100%);
    transition: all ease .3s;
}

.menuLight {
    height: 40px;
    z-index: 100;
    filter: sepia(1) saturate(50) hue-rotate(250deg) opacity(50%) blur(0px);
    transition: all ease .3s;
}

.menuButton:hover .menuLight {
    transition: all ease .3s;
    filter: sepia(1) saturate(50) hue-rotate(250deg) blur(10px);
}

.slidingMenuContainer {
    transition: all ease 1s;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 200;
    transform: translateX(50%);
    display: none;
}

.exitSlidingMenu {
    height: 100%;
    width: 50%;
}

.slidingMenu {
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.33);
    height: 100%;
    width: 50%;
    background-color: rgb(21, 16, 21);
    padding: 5%;
    padding-top: 3%;
}

.slidingMenu h2 {
    font-weight: 900;
}

.slidingMenu p:hover {
    color: rgb(142, 212, 189);
    cursor: pointer;
    user-select: none;
}

.slidingMenu * {
    margin-top: 20px;
}

.menuItem {
    background-color: rgb(38, 29, 38);
    padding: 10px;
    border-radius: 5px;
}